*{
    margin: 0 auto;
    /* outline: 1px solid gray; */
}
body {
    justify-content: center;
    padding: 40px 100px;
    
}

h1, p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid black;
    text-align: center;
    display: block;
}

p {  
    width: 40%;
    padding: 5px 10px;
    margin-bottom: 20px;
}

h1{
    width: 40%;
    padding: 10px 80px;
    
}

