<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninja Gold</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'ninjagoldstyle.css' %}">
    <!-- <style>
       
    </style> -->
</head>
<body>
    <div id="container">
        <!-- Header div for the gold count -->
        <div id="gold">
            <p> Your Gold: </p>
            <p id="gold-count"> {{ request.session.gold }} </p>
            <form action="/reset" method="POST">
                {% csrf_token %}
                <button> Start Over </button>
            </form>
            <div id="winning_cond">
                <form action="/bet" method="POST">
                    {% csrf_token %}
                    <p>Choose your winning condition:</p>
                    <label for="desired_gold">Desired gold:</label>
                    <input type="number" name="desired_gold" value={{ request.session.player_desired_gold }}>
                    <label for="num_of_move">Number of move:</label>
                    <input type="number" name="num_of_move" value={{ request.session.num_of_move }}>
                    <button> Confirm winning condition </button>
                </form>
                {% if "win_game" not in request.session %}
                    <div style="color:black" id="game_status">
                        Your winning condition will be displayed here
                    </div>                 
                {% endif %}         
                     
                {% if request.session.win_game == "Unknown" %}
                    <div style="color:black" id="game_status">
                        Your winning condition: Win {{ request.session.player_desired_gold }} gold coins in {{request.session.num_of_move}} moves
                    </div> 
                {% endif %} 
                {% if request.session.win_game == "False" and request.session.count > 0  %}
                    <div style="color:red" id="game_status">
                        Oops!! You lost! Try again!
                    </div> 
                {% elif request.session.win_game == "True"  %}
                    <div style="color:green" id="game_status">
                        Congratulation!!! You won!!!
                    </div> 
                {% endif %}
            </div>
        </div>

        <!-- Main div for different choices -->
        <div id="choice-block">
            <div class="choice farm">
                <h2> Farm </h2>
                <p> (earns 10-20 golds) </p>
                <form action = "/gold" method = "POST">
                    {% csrf_token %}
                    <button name="farm"> Find Gold! </button>
                </form>
            </div>

            <div class="choice cave">
                <h2> Cave </h2>
                <p> (earns 5-10 golds) </p>
                <form action = "/gold" method = "POST">
                    {% csrf_token %}
                    <button name="cave"> Find Gold! </button>
                </form>
            </div>

            <div class="choice house">
                <h2> House </h2>
                <p> (earns 2-5 golds) </p>
                <form action = "/gold" method = "POST">
                    {% csrf_token %}
                    <button name="house"> Find Gold! </button>
                </form>
            </div>

            <div class="choice casino">
                <h2> Casino </h2>
                <p> (earns/takes 0-50 golds) </p>
                <form action = "/gold" method = "POST">
                    {% csrf_token %}
                    <button name="casino"> Find Gold! </button>
                </form>
            </div>
        </div>

        <!-- Div for log display -->
        <div id="activity">
            <p> Activities: </p>
            <div id = "activity-box">
                {% for earned_gold in request.session.history %}
                    {% if earned_gold > 0 %}
                        <p style="color:green"> Earned {{earned_gold}} golds! </p>
                    {% elif earned_gold < 0 %}
                        <p style="color:red"> Lost {{earned_gold}} golds... </p>
                    {% else %}
                        <p style="color:black"> Earned 0 gold </p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>