<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
    {% load static %}
    <link rel='stylesheet' href='{% static 'notestyle.css' %}'>
</head>
<body>
    <div id="container">
        <h1>My Posts</h1>
        {% for post in posts %}
            <div class="note_box">{{ post.notes }}</div>
        {% endfor %}
        <form action="{% url 'post' %}" method="POST">
            {% csrf_token %}
            <label for="notes">Add a note:</label>
            <textarea name="notes" cols="30" rows="5"></textarea>
            <button>Post it!</button>

        </form>
    </div>
</body>
<script>
    $('form').submit(function(e){
        e.preventDefault();
        console.log("Form submitted but no HTTP request sent to the server!");
        $.ajax({
            url: '/posts/',
            method: 'post',
            data: $(this).serialize(),
            success: function(serverResponse){
                $('.posts').html(serverResponse)
                console.log("Received this from server: ", serverResponse)
                console.log("I should probably put that in the DOM...")
            }
        })
    });

</script>
</html>